@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title-section" style="background-image: url(img/bg/pagetitle.jpg);">
    <div class="container">
        <h1>Kurumsal</h1>
        <ul>
            <li><a href="@Url.Action(" Index", "Home" , new {})">Anasayfa</a></li>
            <li><a href="@Url.Action(" Index", "Hakkimizda" , new {})">Hakkımızda</a></li>
        </ul>
    </div>
</div>


<div class="section-block">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-12">
                <div class="pr-30-md">
                    <div class="section-heading">
                        <h4>Canbulut Hukuk</h4>
                    </div>
                    <div class="section-heading-line-left"></div>
                    <div class="text-content-big mt-20 " style="text-align:justify">
                        <p>Türkiye genelinde faaliyet gösteren Canbulut Hukuk Bürosu, uzmanlık gerektiren konularda hukuki danışmanlık ve avukatlık hizmeti vermektedir. </p>

                        <h5>Misyonumuz</h5>
                        <p>Büyük bir hızla değişen ve gelişen hukuk sistemimiz karşısında müvekkillerimize en verimli şekilde hizmet vermek başlıca amaçlarımız arasındadır. Değişen dünya hızına ayak uydurabilen uzman kadrosu ile geniş bir yelpazede faaliyet gösteren büromuz, müvekkil odaklı çalışmalarına devam etmektedir.</p>
                        <h5>Vizyonumuz</h5>
                        <p>Kendine güvenen ve daima gelişim çabası içerisinde olan iki genç avukatın kurduğu Canbulut Hukuk Bürosu’nun en büyük hedefi  ulusal ve uluslararası düzeyde kendisine yer edinmektir.   Bu hedef doğrultusunda çalışmalar yapan büromuz, kendisini daima bir adım öteye taşımaya gayret göstermektedir.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 