@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-title-section" style="background-image: url(img/bg/pagetitle.jpg);">
    <div class="container">
        <h1>Avukatlarımız</h1>
        <ul>
            <li><a href="@Url.Action("Index", "Home", new {})">Anasayfa</a></li>
            <li><a href="@Url.Action("Index", "Ekibimiz", new {})">Avukatlarımız</a></li>
        </ul>
    </div>
</div>
<div class="section-block">
    <div class="container">
        <div class="team-single">
            <div class="row" style="margin-top:50px">
                <div class="col-md-4 col-sm-4 col-12">
                    <div class="team-single-img"> <img src="~/img/partner/busra_pp.jpeg" alt="img"> </div>
                </div>
                <div class="col-md-8 col-sm-8 col-12">
                    <div class="team-single-text">
                        <h4>Av. Arb. Büşra KESİK CANBULUT, LL.M.</h4> <ul class="team-single-info">
                            @*<li><strong>Phone</strong><span>0543 850 03 54</span></li>
                            <li><strong>Gmail</strong><span>canbuluthukuk@gmail.com</span></li>*@
                        </ul> <div class="text-content mt-20" style="text-align:justify">
                            <p>
                                1992 Giresun doğumlu olan Büşra Kesik Canbulut, Canbulut Hukuk Bürosu’nun kurucusudur.
                            </p>
                            <p>Giresun-Bulancak’da başladığı ilköğretim eğitimini Ankara-Elmadağ ilçesinde tamamlamıştır. </p>
                            <p>2006-2009 yılları arasında Ali Naili Erdem Anadolu Lisesi’nde eğitim görmüş daha sonra geçiş yaptığı Elmadağ Anadolu Lisesi’nden 2010 yılında mezun olmuştur.</p>
                            <p>Büyük bir özveriyle eğitim gördüğü Selçuk Üniversitesi Hukuk Fakültesi’nden 2015 yılında mezun olarak meslek hayatına atılmış ve saygın bir hukuk bürosunda dört buçuk yıla yakın hizmet vermiştir.</p>
                            <p>2019 yılında kendi ofisini kurarak avukatlık mesleğine devam etmiştir. Aynı zamanda Ankara Üniversitesi Hukuk Fakültesi Özel Hukuk Tezli Yüksek Lisans eğitimini tamamlamış ve 'Tüzel Kişilik Perdesinin Aralanması' başlıklı kitabı 2023 yılında yayımlanmıştır. Hasanoğlan Elmadağ Sanayici ve İş İnsanları Derneği genel sekreter yardımcılığı yapmaktadır. Elmadağ Arabuluculuk Merkezi'nin kurucu ortaklarındandır. Birçok kurumsal firmaya danışmanlık hizmeti veren kurucumuz ağırlıklı olarak Ticaret Hukuku, İş Hukuku, Gayrimenkul Hukuku gibi alanlarda faaliyet göstermektedir.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="team-single">
            <div class="row" style="margin-top:50px">
                <div class="col-md-4 col-sm-4 col-12">
                    <div class="team-single-img"> <img src="~/img/partner/sule_pp.jpeg" alt="img"> </div>
                </div>
                <div class="col-md-8 col-sm-8 col-12">
                    <div class="team-single-text">
                        <h4>Av. Şule ÖZGEN</h4> <ul class="team-single-info">
                            @*<li><strong>Phone</strong><span>0543 850 03 54</span></li>
                            <li><strong>Gmail</strong><span>canbuluthukuk@gmail.com</span></li>*@
                        </ul> <div class="text-content mt-20" style="text-align:justify">
                            <p>
                                1998 Ankara doğumlu olan Şule ÖZGEN İlk ve Orta öğretim eğitimini Ankara-Elmadağ ilçesinde tamamlamıştır.
                            </p>
                            <p>2012-2013 yılları arasında Hasanoğlan Atatürk Anadolu Öğretmen Lisesinde eğitim görmüş daha sonra geçiş yaptığı Gazi Şahin Anadolu Lisesi'nden 2016 yılında mezun olmuştur.  </p>
                            <p>Erzincan Üniversitesi Hukuk Fakültesi'nden 2021 yılında başarıyla mezun olmuş ve avukatlık stajına başlamıştır. Ticaret Hukuku, İcra ve İflas Hukuku, İş Hukuku gibi alanlarda deneyim sahibi olan Şule ÖZGEN 2023 yılından bu yana mesleğini ofisimizde icra etmektedir.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
